In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("Housing.csv")
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [5]:
#cleaning 
data.columns[data.isna().any()]

Index([], dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [7]:
data.select_dtypes(include=["int64"])

        price  area  bedrooms  bathrooms  stories  parking
0    13300000  7420         4          2        3        2
1    12250000  8960         4          4        4        3
2    12250000  9960         3          2        2        2
3    12215000  7500         4          2        2        3
4    11410000  7420         4          1        2        2
..        ...   ...       ...        ...      ...      ...
540   1820000  3000         2          1        1        2
541   1767150  2400         3          1        1        0
542   1750000  3620         2          1        1        0
543   1750000  2910         3          1        1        0
544   1750000  3850         3          1        2        0

[545 rows x 6 columns]

In [8]:
#a=data.select_dtypes(include=["object"])
#a

In [9]:
x=data[["area","bedrooms","bathrooms"]]
x

     area  bedrooms  bathrooms
0    7420         4          2
1    8960         4          4
2    9960         3          2
3    7500         4          2
4    7420         4          1
..    ...       ...        ...
540  3000         2          1
541  2400         3          1
542  3620         2          1
543  2910         3          1
544  3850         3          1

[545 rows x 3 columns]

In [10]:
y=data.iloc[:,0]
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
x_train

     area  bedrooms  bathrooms
126  7160         3          1
363  3584         2          1
370  4280         2          1
31   7000         3          1
113  9620         3          1
..    ...       ...        ...
71   6000         4          2
106  5450         4          2
270  4500         3          2
435  4040         2          1
102  5500         3          2

[381 rows x 3 columns]

In [12]:
import numpy as np 
x=np.array(x).reshape(-1,1)
x

array([[7420],
       [   4],
       [   2],
       ...,
       [3850],
       [   3],
       [   1]])

In [13]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [14]:
y_pred=model.predict(x_test)
y_pred

array([6473402.65395882, 6321975.65500429, 3631436.91350162,
       4362326.81524563, 3976018.21338597, 5001221.8106289 ,
       5669832.85230907, 6135382.62733162, 3334276.45053265,
       3507990.48420985, 8871363.1765967 , 3592063.15215823,
       3512572.72831403, 3656570.71569433, 3979732.71917308,
       6658385.46579498, 2873677.73293075, 4733777.39395683,
       4678059.80715015, 4359480.04777558, 4369755.82681985,
       5040224.12139358, 3486199.73722553, 3916586.12079218,
       5569541.19605705, 7607194.65734506, 3278558.86372597,
       5021898.62951507, 7408221.56067752, 3245128.31164196,
       5393349.20822627, 3663999.72726856, 6136250.36564869,
       4962219.49986422, 4653047.78121686, 5616219.555453  ,
       4230833.31038186, 4060584.10817248, 3797721.93560459,
       5317077.00243083, 5469249.53980502, 3479142.17623002,
       6292259.60870739, 4065166.35227666, 4638067.98180899,
       4316763.23122379, 6136250.36564869, 4602901.95309084,
       5120953.73413356, 3245128.31164196, 6684139.96924772,
       3245128.31164196, 5016947.57209442, 4176601.52589002,
       4231451.37437964, 3585995.1057392 , 6043387.72097088,
       3396555.31059649, 5275227.50055813, 3542288.77461093,
       4714462.38750183, 4700593.87892987, 4522918.30240851,
       3973171.44591593, 4496049.02358166, 3901728.09764373,
       5984823.36669416, 3619425.65782321, 5999556.12904498,
       4622342.22034347, 4966181.04270838, 4867499.60229287,
       5250961.43668248, 7807777.96984912, 3127749.92876922,
       5864223.70487244, 3853439.52241127, 3919311.1120028 ,
       4733777.39395683, 4473761.98885899, 6644269.92016597,
       4020592.28283132, 5950525.07629308, 4982649.28169334,
       3136539.90549864, 7523865.31419209, 3545135.54208097,
       3786578.41824326, 7038007.53359985, 7913020.68352179,
       3961281.96649694, 5495251.08031481, 4155182.22948442,
       3771720.39509481, 9245660.52277796, 4253738.40910231,
       5044185.24059976, 6061960.24990644, 4548052.10460123,
       6733418.05905666, 3708573.7967139 , 5616219.555453  ,
       3608282.14046188, 6535806.77482028, 5108074.74013808,
       5453523.77833951, 6510547.71182994, 6136250.36564869,
       6173395.42351981, 6136250.36564869, 6581991.06010213,
       3548231.98387031, 3474559.93212584, 3898013.59185662,
       4366041.32103274, 3935158.64972774, 4390557.05922768,
       3686286.76199123, 4741206.40553106, 3663999.72726856,
       4990946.03158463, 5105227.97266804, 3831152.4876886 ,
       3245128.31164196, 6303403.12606873, 3396555.31059649,
       6250532.30673209, 5262723.01804159, 8772681.73618118,
       6604278.09482481, 3619425.65782321, 4436616.93098787,
       5625258.78286373, 6331261.91947207, 3860868.5339855 ,
       3480999.42912358, 3990876.23653442, 5241922.20927175,
       4225757.83943955, 3812579.95875304, 2812759.83802212,
       3675143.24462989, 4614913.20876925, 3301835.41302513,
       5139526.26306912, 3590577.34984338, 6292259.60870739,
       5441637.78345873, 7128765.88832705, 7872656.98396393,
       5979004.57095644, 4718919.37080838, 3574851.58837787,
       4493202.25611162, 3797721.93560459, 5888120.95543162,
       6711131.02433399, 3540306.68455773, 6314546.64343007,
       4965188.04359369, 3313846.66870353, 7322414.26337097,
       5848129.13009045, 5263341.50567735])

In [17]:
model.coef_

array([3.71450579e+02, 3.74297346e+05, 1.40247297e+06])

In [18]:
model.intercept_

np.float64(-20291.08854601439)

In [20]:
model.predict([[7160,3,1]])

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5164660.06526183])

In [21]:
#checking
3.71450579e+02*7160+3.74297346e+05*3+ 1.40247297e+06*1+-20291.08854601439

5164660.065093986