In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [8]:
p={"name":["mithun","kavitha","padmashree"],"course":["artificial intelligence","embedded","digital marketing"]}
p

{'name': ['mithun', 'kavitha', 'padmashree'],
 'course': ['artificial intelligence', 'embedded', 'digital marketing']}

In [9]:
df=pd.DataFrame(p)
df

         name                   course
0      mithun  artificial intelligence
1     kavitha                 embedded
2  padmashree        digital marketing

In [10]:
d=pd.read_csv('Global_Climate_Change_Data_2020_2025.csv')
d

,Year,Continent,Country,Avg_Temperature(°C),CO2_Emissions(Mt),Sea_Level_Rise(mm),Climate_Risk_Index
0,2021,Europe,UK,19.6,978.24,3.57,28
1,2022,Asia,India,25.3,770.39,1.47,74
2,2022,Asia,Japan,23.2,963.84,3.09,48
3,2020,North America,Mexico,20.8,349.49,3.81,23
4,2024,Africa,Egypt,33.1,475.82,3.35,86
...,...,...,...,...,...,...,...
1195,2022,Asia,Indonesia,11.2,173.18,4.99,55
1196,2023,Europe,Italy,16.9,784.60,1.36,52
1197,2023,Europe,Spain,33.2,534.09,4.60,82
1198,2025,Asia,Pakistan,25.0,289.65,4.13,75
1199,2021,North America,Canada,27.2,274.94,1.06,54

In [11]:
d.columns[d.isna().any()]

Index([], dtype='object')

In [12]:
dp=d.drop(['CO2_Emissions(Mt)','Climate_Risk_Index'],axis='columns')
dp

      Year      Continent    Country  Avg_Temperature(°C)  Sea_Level_Rise(mm)
0     2021         Europe         UK                 19.6                3.57
1     2022           Asia      India                 25.3                1.47
2     2022           Asia      Japan                 23.2                3.09
3     2020  North America     Mexico                 20.8                3.81
4     2024         Africa      Egypt                 33.1                3.35
...    ...            ...        ...                  ...                 ...
1195  2022           Asia  Indonesia                 11.2                4.99
1196  2023         Europe      Italy                 16.9                1.36
1197  2023         Europe      Spain                 33.2                4.60
1198  2025           Asia   Pakistan                 25.0                4.13
1199  2021  North America     Canada                 27.2                1.06

[1200 rows x 5 columns]

In [13]:
dp.describe()

              Year  Avg_Temperature(°C)  Sea_Level_Rise(mm)
count  1200.000000          1200.000000         1200.000000
mean   2022.390833            22.416250            3.027608
std       1.726915             7.172001            1.164478
min    2020.000000            10.000000            1.000000
25%    2021.000000            16.375000            1.987500
50%    2022.000000            22.200000            3.020000
75%    2024.000000            28.400000            4.090000
max    2025.000000            35.000000            5.000000

In [14]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1200 non-null   int64
 1   Continent            1200 non-null   object
 2   Country              1200 non-null   object
 3   Avg_Temperature(°C)  1200 non-null   float64
 4   CO2_Emissions(Mt)    1200 non-null   float64
 5   Sea_Level_Rise(mm)   1200 non-null   float64
 6   Climate_Risk_Index   1200 non-null   int64
dtypes: float64(3), int64(2), object(2)
memory usage: 65.8+ KB

In [15]:
d.head()

,Year,Continent,Country,Avg_Temperature(°C),CO2_Emissions(Mt),Sea_Level_Rise(mm),Climate_Risk_Index
0,2021,Europe,UK,19.6,978.24,3.57,28
1,2022,Asia,India,25.3,770.39,1.47,74
2,2022,Asia,Japan,23.2,963.84,3.09,48
3,2020,North America,Mexico,20.8,349.49,3.81,23
4,2024,Africa,Egypt,33.1,475.82,3.35,86

In [16]:
d.tail()

,Year,Continent,Country,Avg_Temperature(°C),CO2_Emissions(Mt),Sea_Level_Rise(mm),Climate_Risk_Index
1195,2022,Asia,Indonesia,11.2,173.18,4.99,55
1196,2023,Europe,Italy,16.9,784.60,1.36,52
1197,2023,Europe,Spain,33.2,534.09,4.60,82
1198,2025,Asia,Pakistan,25.0,289.65,4.13,75
1199,2021,North America,Canada,27.2,274.94,1.06,54

In [21]:
d.iloc[1]

Year                     2022
Continent                Asia
Country                 India
Avg_Temperature(°C)      25.3
CO2_Emissions(Mt)      770.39
Sea_Level_Rise(mm)       1.47
Climate_Risk_Index         74
Name: 1, dtype: object

In [22]:
d[d['Avg_Temperature(°C)']<25]

,Year,Continent,Country,Avg_Temperature(°C),CO2_Emissions(Mt),Sea_Level_Rise(mm),Climate_Risk_Index
0,2021,Europe,UK,19.6,978.24,3.57,28
2,2022,Asia,Japan,23.2,963.84,3.09,48
3,2020,North America,Mexico,20.8,349.49,3.81,23
5,2021,South America,Chile,18.9,262.92,1.18,80
6,2020,Africa,Nigeria,18.0,660.90,2.00,46
...,...,...,...,...,...,...,...
1190,2025,South America,Brazil,18.5,420.51,4.46,89
1191,2023,Africa,Egypt,12.8,409.06,3.02,22
1192,2020,Asia,Japan,17.3,685.13,2.83,38
1195,2022,Asia,Indonesia,11.2,173.18,4.99,55
1196,2023,Europe,Italy,16.9,784.60,1.36,52

In [24]:
ex=d.sort_values('Avg_Temperature(°C)')
ex

,Year,Continent,Country,Avg_Temperature(°C),CO2_Emissions(Mt),Sea_Level_Rise(mm),Climate_Risk_Index
1169,2022,Asia,Japan,10.0,644.63,3.19,22
19,2024,Oceania,New Zealand,10.1,147.10,1.58,25
838,2023,Europe,Italy,10.1,305.17,2.61,79
828,2025,Europe,Spain,10.1,642.43,4.58,35
861,2022,Africa,Nigeria,10.1,418.42,1.63,84
...,...,...,...,...,...,...,...
669,2020,South America,Argentina,34.9,516.15,1.20,28
880,2024,Africa,Egypt,35.0,572.47,2.49,55
185,2020,Africa,South Africa,35.0,938.36,3.26,74
686,2022,South America,Brazil,35.0,945.93,3.10,60
696,2020,Europe,France,35.0,256.44,1.24,62

In [25]:
ex.tail()

,Year,Continent,Country,Avg_Temperature(°C),CO2_Emissions(Mt),Sea_Level_Rise(mm),Climate_Risk_Index
669,2020,South America,Argentina,34.9,516.15,1.20,28
880,2024,Africa,Egypt,35.0,572.47,2.49,55
185,2020,Africa,South Africa,35.0,938.36,3.26,74
686,2022,South America,Brazil,35.0,945.93,3.10,60
696,2020,Europe,France,35.0,256.44,1.24,62

In [27]:
d.sort_values('Avg_Temperature(°C)',ascending=False)

,Year,Continent,Country,Avg_Temperature(°C),CO2_Emissions(Mt),Sea_Level_Rise(mm),Climate_Risk_Index
686,2022,South America,Brazil,35.0,945.93,3.10,60
696,2020,Europe,France,35.0,256.44,1.24,62
185,2020,Africa,South Africa,35.0,938.36,3.26,74
880,2024,Africa,Egypt,35.0,572.47,2.49,55
669,2020,South America,Argentina,34.9,516.15,1.20,28
...,...,...,...,...,...,...,...
206,2022,Europe,UK,10.1,906.49,4.38,57
838,2023,Europe,Italy,10.1,305.17,2.61,79
828,2025,Europe,Spain,10.1,642.43,4.58,35
861,2022,Africa,Nigeria,10.1,418.42,1.63,84
1169,2022,Asia,Japan,10.0,644.63,3.19,22

In [29]:
d.groupby('Country')['Avg_Temperature(°C)'].mean()

Country
Argentina       22.380645
Australia       23.169091
Brazil          23.256944
Canada          22.437705
Chile           22.743333
China           24.593548
Egypt           22.367925
France          21.586111
Germany         22.531429
India           22.897436
Indonesia       21.816667
Italy           20.944444
Japan           21.879630
Kenya           22.091379
Mexico          23.473611
New Zealand     22.228302
Nigeria         21.406818
Pakistan        22.013333
South Africa    22.000000
Spain           21.087097
UK              23.022222
USA             21.631034
Name: Avg_Temperature(°C), dtype: float64

In [34]:
ex1=pd.get_dummies(d['Year'])
ex1

       2020   2021   2022   2023   2024   2025
0     False   True  False  False  False  False
1     False  False   True  False  False  False
2     False  False   True  False  False  False
3      True  False  False  False  False  False
4     False  False  False  False   True  False
...     ...    ...    ...    ...    ...    ...
1195  False  False   True  False  False  False
1196  False  False  False   True  False  False
1197  False  False  False   True  False  False
1198  False  False  False  False  False   True
1199  False   True  False  False  False  False

[1200 rows x 6 columns]